SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
RENDER_EXTERNAL_HOSTNAME=
DATABASE_URL=postgresql://qazsound_user:Qazsound123@localhost:5432/qazsound_db
DB_CONN_MAX_AGE=600
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
YOUTUBE_API_KEY=
ENABLE_YTDLP_YOUTUBE_STREAM=True
YTDLP_STREAM_FORMAT=bestaudio/best
YTDLP_REQUEST_TIMEOUT_SECONDS=12

