SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
RENDER_EXTERNAL_HOSTNAME=
DATABASE_URL=postgresql://postgres:change-me@localhost:5432/qazsound
DB_CONN_MAX_AGE=600
FIREBASE_STORAGE_BUCKET=
FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_PATH=
FIREBASE_CREDENTIALS_JSON=
FIREBASE_MEDIA_LOCATION=media
FIREBASE_QUERYSTRING_AUTH=True
FIREBASE_URL_EXPIRATION_SECONDS=86400
FIREBASE_FILE_OVERWRITE=False
FIREBASE_BLOB_CHUNK_SIZE=8388608
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
YOUTUBE_API_KEY=
ENABLE_YTDLP_YOUTUBE_STREAM=True
YTDLP_STREAM_FORMAT=bestaudio/best
YTDLP_REQUEST_TIMEOUT_SECONDS=12
