{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('QazSound Control Panel') }}{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/custom.css' %}" />
{% endblock %}

{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('QazSound Admin') }}</a>
  </h1>
{% endblock %}

{% block nav-global %}{% endblock %}
